# Node.js
node_modules/
*.log
npm-debug.log*
yarn-error.log

# Build output
/dist/
/build/

# Dependency directory
/.yarn/
/.pnp/ 

# Optional npm cache directory
.npm/

# Grunt intermediate storage (https://gruntjs.com/)
.grunt/

# Miscellaneous
.DS_Store
Thumbs.db

# React Native
# Build output
android/
ios/
# React Native specific files
*.iml
*.jks
*.keystore
